html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevenir scroll en el documento */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit; /* Asegurar que todos los elementos hereden el box-sizing */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Asegurar que el contenedor de React toma la altura completa */
#root {
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Animación para el borde seleccionado */
@keyframes dash-animation {
  to {
    stroke-dashoffset: 1000;
  }
}

/* Estilos para ReactFlow */
.react-flow {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Asegurar que el contenedor del ReactFlow ocupe todo el espacio disponible */
.react-flow__container {
  width: 100%;
  height: 100%;
}

.react-flow__pane {
  height: 100%;
}

/* Estilo para nodos seleccionados */
.react-flow__node.selected > div {
  /* Usamos > div para apuntar al contenedor interno del nodo si existe */
  /* o directamente al elemento si no hay div interno */
  outline: 2px dashed #A9A9A9; /* Borde discontinuo gris */
  outline-offset: 3px; /* Separación del borde */
  animation: dash-animation 40s linear infinite; /* Aplicar animación */
  stroke-dasharray: 10; /* Longitud de los guiones */
}

/* Estilo para relaciones seleccionadas */
.react-flow__edge.selected .react-flow__edge-path {
  stroke: #A9A9A9; /* Color gris */
  stroke-width: 2.5; /* Un poco más grueso */
  stroke-dasharray: 5; /* Guiones */
  animation: dash-animation 20s linear infinite; /* Animación más rápida */
}
